<a href="/">Go Back</a>

<h1 class="text-center">Add a Post</h1>

<form action="/create/post" method="POST">
    <input name="title" type="text" placeholder="Enter the Subject">
    <input name="author" type="text" placeholder="Enter the author">
    <input name="userId" type="text" placeholder="Enter the user ID">
    <button>Submit</button>
</form>